*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.box-main{
    background: #f2f2f2;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 100px;
    padding: 20px;

}
.konga-site{
    margin: auto;
}
.box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
    background-color:#fff;
}
.card > div, .title, .vendor-name{
    padding:5px 0;
}
.top-section{
    position:relative;
}
.top-frame{
    position:absolute;
    left:-15px;
    display:flex;
    width:100%;
    justify-content: space-between;
}
.badge{
    background-color:#ED4637;
    width:fit-content;
    border-radius: 0 20px 20px 0;
    display: flex;
    padding:5px 10px;
    color:#fff;
    font-size: 12px;
}
.favorite-wrapper{
    padding:10px;
    background-color:#E2E7EA;
    border-radius: 100px;
    display:flex;
    justify-content:left;
    align-items: right;
}
.favorite-wrapper:hover{
    background-color:#f0cb9c;
}
.fa-heart{
    color:#fff;
}

.image{
    display: flex;
    justify-content: center;
}
.image img{
    width: 120px;
    height:100%;
}

.price{
    display: flex;
    justify-content: space-between;
    border:1px solid #f7f7f7;
    border-right: none;
    border-left: none;
    padding:7px 0;
    
}
.price p{
    color:grey;
    text-decoration: line-through;
}
.vendor-name{
    color:grey;
    font-size:12px;
    font-weight: 200;
}
.vendor-name > span{
    color:#755EAB;
  
}
.konga-logo{
    background:#FDF3F8;
    display:inline-block;
    padding:0 10px !important;
    font-size: 12px;
}
.konga{
    color:#EC4D7F;
    font-weight: 700;
}
.now{
    color:#F4A131;
    font-weight: 700;

}
.review-count .fa-star{
    color:#F4A131;
    font-size: 12px;
}
.review-count span{
    font-size: 12px;
    color:grey;
}

.card a{
    border:1px solid #e499b1;
    text-decoration: none;
    color:#e7adc0;
    width: 100%;
    display:block;
    padding:7px;
    text-align:center;
    border-radius: 4px;

}
.card a:hover{
   background-color:#EC4D7F;
   color:#fff;
}

@media screen and (max-width:1024px){
    .box-main{
  
        grid-template-columns: 1fr 2fr;
        
    }
    .box-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:2rem;
    }
}

@media screen and (max-width:768px){
    .box-category{
        display:none;
    }
    .box-main{
  
        grid-template-columns: 1fr;
        
    }
    .box-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:2rem;
    }
}

@media screen and (max-width:450px){
    .box-main{
        grid-template-columns: 1fr;
        padding:0;
        
    }
    .box-grid{
        grid-template-columns:1fr;
        gap:0.5rem;
    }
    .card{
        display:flex;
        border:none;

    }
    .card >div{
        width:50%;
    }
    .bottom-section a{
        display:none;
    }

}
