.Ama-card{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2ren;
    width:95vw;
    margin:auto;
    
}

.Ami{
    box-shadow:rgb(255, 0, 119);
    padding:10px;
    margin-trim: 5px;
}

.Ami button{
    width: 100%;
    padding: 10px;
    background: pink
}

.Ami img{
    height:200px;
    width:100%;
    
}
