*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gym-site{
    display: grid;
    grid-template-columns: 1fr;
    width:100%
    
    
}
.gym-lady{
    background-image: url("image2/img1.jpg");
    text-align: center;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 35vh;
    margin: 10px;
    height: 85vh;
    border-radius: 5px 5px 5px 5px;
    
}
.gym-lady h1{
    font-family: 'Trebuchet MS';
    color: #fff;
    padding-top: 1vh;

}   
.gym-lady h3{
    font-family: Arial;
    color: #fff;
    padding-top: 1vh;
}

.about-us{
    margin: 0px;
    
    
    
}
.about-img{
    height: 200px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /*padding-right: 30px;*/
    padding-left: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 100px;
    margin-bottom: 200px;
    border-top-right-radius: 50px;
    
    
}
.about-messsage{
   padding: 30px;
   margin-bottom: 50px;
   justify-content: center;


}
.us{
    font-family: Arial;
    color: purple;
    margin-bottom: 10px;
}
.fit{
    font-family: Cambria;
    font-weight: 60px;
    margin-bottom: 10px;

}
.about-message .a{
    background-image: linear-gradient(to left, purple, blue,);
}
.to-start{
    background: rgb(216, 209, 209);
    margin-top: 50%;
    
}
.start-message{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
.start-message h1{
    font-family: Cambria;
    margin-bottom: 10px;
}
.start-message p{
    font-family: Arial;
    margin-right: 10px;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

}
.box{
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.25rem;
    background-color:#fff;
    margin-top: 5px;
    margin-bottom: 20px;   
}
.top-section img{
    height:300px;
    
}
.bottom-section{
    padding: 10px;
    font-family: Tahoma;
}

.bottom-section h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: royalblue;
}
.bottom-section span{
    margin-bottom: 10px;
}
.price{
    margin-top: 10px;
    color: royalblue;
}
.begin-now{
    background-image: url("image2/img4.jpg");
    text-align: center;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 35vh;
    margin: 10px;
    height: 50vh;
    margin-top: 60px;
}
.begin-now h1 a{
    
}